body {
    box-sizing: border-box;
    margin: 15px;
    border-color: rgba(210, 210, 230, 0.45);
    border-radius: 2px;
    border-style: solid;
    height: calc(100vh - 30px); /* Subtract total margin (top + bottom) */
    background-image: url(/assets/images/rainier_pd.jpg);
    background-position-x: center;
    font-family: monospace;
    padding-left: 35px;
}

header {
    font-size: 35px;
    color: rgba(25, 25, 55, 0.9);
}

nav {
    font-size: xx-large;
}

.navitem {
    color: rgba(30, 30, 40, 0.9);
    margin: 20px;
    transition: font-size 0.3s;
    cursor: pointer;
    width: fit-content;
}

.navitem:hover {
    font-size: larger;
}
